

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
</head>
<body>
    <div>
        <form action="UserSign" method="post">
            First Name: <input id="FirstName" name="FirstName" type="text" />
            <br />
            Last Name: <input id="LastName" name="LastName" type="text" />
            <br />
            Email: <input id="Email" name="Email" type="text" />
            <br />
            Password: <input id="Password" name="Password" type="text" />
            <br />
            <h1>its working yay</h1>
            <br />
            <input id="Submit1" type="submit" value="Add User" />
            <br />
        </form>
    </div>
</body>
</html>