

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GleamBoutique</title>
</head>
<body>
    <div>
        <h1>GleamBoutique</h1>
        <h2>store </h2>
    </div>
</body>
</html>