
@model GleamBoutiqueProject.Models.User

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>GleamBoutique</title>
    <link rel="shortcut icon" type="image/png" href="/images/icon.png">

    <script>
    function scrollToSection(sectionId) {
            var section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        }</script>

    <script type="text/javascript">
    window.onload = function () {
            history.replaceState(null, "", window.location.href);
            window.onpopstate = function (event) {
                // Prevent going back to the logout URL or any secure page after logout
                history.go(1);
            };
        };</script>


</head>

<body>

    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mt-mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li><a class="nav-link" href="../Shop/Shop">Shop</a></li>
                    <li><a class="nav-link" href="#about-section" onclick="scrollToSection('about-section')">About us</a></li>
                    <li><a class="nav-link" href="#services-section" onclick="scrollToSection('services-section')">Services</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">

                    <li><a class="nav-link" href="../User/SignIn"><img src="~/images/user.svg"></a></li>
                    <li><a class="nav-link" href="../Shop/Cart"><img src="~/images/cart.svg"></a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    @if (ViewBag.IsLoggedIn)
                    {
                        <li>
                            <a href="/User/Logout" style="filter: invert(1);">
                                <img src="~/images/logout1.png" alt="Logout" style="width: 45px; height: 45px; padding-top: 9px;">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <a><img src="images/logo.png" style="width: 170px; height: 120px;"> <span></span></a>

                        <h2>@ViewData["Message"]</h2>
                        <h1 style="color: #6b5646; margin-bottom: 0; font-size: 45px;">Gleam Boutique</h1>
                        <h3 style="color: #6b5646; margin-top: 0; margin-bottom: 15px;"><span class="d-block" style="font-size: 20px;">Homemade Jewelry</span></h3>
                        <p class="mb-4" style="color: #b09178; font-size: 16px;">
                            Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.
                        </p>
                        <p>
                            <a href="../Shop/Shop" class="btn btn-secondary me-2" style="background-color: #947f6f; color: white;">Shop Now</a>
                        </p>
                    </div>
                </div>

                <div class="we-help-section col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid" id="photosContainer">
                        <div class="grid grid-1"><img src="images/img-grid-1.jpg" alt="Untree.co"></div>
                        @*<div class="grid grid-2"><img src="images/img-grid-2.jpg" alt="Untree.co"></div>
                          <div class="grid grid-3"><img src="images/img-grid-3.jpg" alt="Untree.co"></div>*@
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="product-section" style="padding-top: 80px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                    <p class="mb-4"><h6>Our collection showcases the gleam of gold, the sheen of silver, and the brilliance of select gemstones, defining luxury and finesse.</h6></p>

                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <div class="product-item">
                        <img src="~/images/gold1.jpg" class="img-fluid product-thumbnail">
                        <strong class="product-price">GOLD</strong>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <div class="product-item" href="cart.html">
                        <img src="~/images/diamonds.jpg" class="img-fluid product-thumbnail">
                        <strong class="product-price">DIAMOND</strong>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <div class="product-item">
                        <img src="~/images/silver.jpg" class="img-fluid product-thumbnail">
                        <strong class="product-price">SILVER</strong>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- End Product Section -->
    <!-- Start Why Choose Us Section -->
    <div id="services-section">
        <div class="why-choose-section">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6">
                        <h2 class="section-title">Why Choose Us</h2>
                        <p>Choose us for a unique experience in elegance and design, where every piece of jewelry reflects our dedication to fine workmanship, enduring style, and absolute excellence.</p>

                        <div class="row my-5">
                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="images/truck.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>Fast &amp; Free Shipping</h3>
                                    <p>Enjoy the luxury of convenience with our Free Shipping on every order, delivering elegance right to your doorstep.</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="images/bag.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>Easy to Shop</h3>
                                    <p>Discover the ease of shopping with us, where finding the perfect piece of jewelry is simple, intuitive, and always satisfying.</p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="images/support.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>24/7 Support</h3>
                                    <p><a>Available for you at the number:</a>
                                    <br><a> +972-8-6519864</a></p>
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="images/return.svg" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3>Hassle Free Returns</h3>
                                    <p>
                                        To return a product, contact us by phone: +972-8-6519864
                                        Up to 14 days for return.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="img-wrap">
                            <img src="images/Hila.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- End Popular Product -->
    <!-- Start Testimonial Slider -->
    <div id="about-section">
        <div class="testimonial-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mx-auto text-center">
                        <h2 class="section-title">About us</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="testimonial-slider-wrap text-center">

                            <div id="testimonial-nav">
                                <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                                <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                            </div>
                            <div class="testimonial-slider">

                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;I'm May, a 24-year-old software engineering student who has a deep passion for crafting beautiful jewelry. Each piece in our collection is meticulously designed and handcrafted, blending elegance with personal flair. Drawing inspiration from nature's beauty and vibrant colors, we create unique pieces that reflect individuality and charm. Thank you for supporting our journey and sharing in our love for handmade jewelry.&rdquo;</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="~/images/MAYp.jpeg" alt="Maria Jones" class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold">May zohar</h3>
                                                    <span class="position d-block mb-3">CEO, co-founder and website designer</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->

                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;I'm Sapir, a 26-year-old enthusiast of fine jewelry, with a special love for earrings. As one of the three owners of this handmade jewelry website, I pour my passion into creating elegant and unique pieces that capture the essence of beauty and style. Inspired by intricate designs and the play of light, each earring is meticulously crafted to add a touch of charm and sophistication to your look. Thank you for joining us on this creative journey and appreciating the artistry behind our handmade earrings.&rdquo;</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="~/images/SAPIRp.jpeg" alt="Maria Jones" class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold">Sapir ovadya</h3>
                                                    <span class="position d-block mb-3">CEO, co-founder and website designer</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->

                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;I'm Oriya, a 23-year-old with an extraordinary creativity and a deep passion for crafting rings. As one of the three owners of this handmade jewelry website, I pour my heart into designing and creating unique pieces that speak volumes about elegance and style. Drawing inspiration from various sources, each ring in our collection is a masterpiece that reflects my love for intricate details and fine craftsmanship. Thank you for supporting our creative journey and appreciating the artistry behind our handmade rings.&rdquo;</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold">Oriya Hazan</h3>
                                                    <span class="position d-block mb-3">CEO, co-founder and website designer</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Slider -->
    <!-- Start Footer Section -->
    <footer class="footer-section" style="padding-top: 50px; padding-bottom: 5px;">
        <div class="container relative">


            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="/" class="footer-logo">GleamBoutique<span>.</span></a></div>
                    <p class="mb-4">
                        Discover unique handmade jewelry by Sapir, May, and Oriya, where passion meets creativity to reflect the beauty of nature and the artistry of the designers.
                    </p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/profile.php?id=61558503081378" target="_blank"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://www.instagram.com/gleamboutiquejewelry/" target="_blank"><span class="fa fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>



            </div>

        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>

    
</body>

</html>
