@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!doctype html>
<html lang="en">
<head>
    <title>Website menu 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css1/style.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Megawidth</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown position-static">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
                                <div class="dropdown-menu p-4" aria-labelledby="dropdown04">
                                    <div class="row">
                                        <div class="col-md-3 d-none d-md-block">
                                            <a href="#" class="img" style="background-image: url(/images/bracelets.jpeg);"></a>
                                            <div class="text">
                                                <h3><a href="#">Bracelets</a></h3>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-none d-md-block">
                                            <a href="#" class="img" style="background-image: url(/images/rings.jpeg);"></a>
                                            <div class="text">
                                                <h3><a href="#">Rings</a></h3>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-none d-md-block">
                                            <a href="#" class="img" style="background-image: url(/images/earringss.jpeg);"></a>
                                            <div class="text">
                                                <h3><a href="#">Earringss</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END nav -->
        </div>

    </section>

    <script src="~/js1/jquery.min.js"></script>
    <script src="/js1/popper.js"></script>
    <script src="/js1/bootstrap.min.js"></script>
    <script src="/js1/main.js"></script>

</body>
</html>
